{% extends "main/basetemplate.html" %}

{% load static %}
{% load widget_tweaks %}

{% block title %}
	Registration
{% endblock %}

{% block misc_head %}
    <link href="{% static 'buildTable/buildTable.css' %}" rel="stylesheet">
	<style type="text/css">
		#page_header
		{
			display:block;
			font-weight:bold;
			font-size:22px;
			margin-bottom:10px;
		}
		input[type=checkbox]
		{
			-ms-transform: scale(1.2,1.2); /* IE */
			-moz-transform: scale(1.2,1.2); /* FF */
			-webkit-transform: scale(1.2,1.2); /* Safari and Chrome */
			-o-transform: scale(1.2,1.2); /* Opera */
			padding: 10px;
		}
		.form-group .control-label
		{
			text-align:left;
		}
		@media (max-width: 767px)
		{
			.form-group .control-label
			{
				margin-bottom:5px;
			}
		}
		.group_header
		{
			background: rgb(122,188,255); /* Old browsers */
			/* IE9 SVG, needs conditional override of 'filter' to 'none' */
			background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzdhYmNmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ0JSIgc3RvcC1jb2xvcj0iIzYwYWJmOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM0MDk2ZWUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
			background: -moz-linear-gradient(top,  rgb(122,188,255) 0%, rgb(96,171,248) 44%, rgb(64,150,238) 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(122,188,255)), color-stop(44%,rgb(96,171,248)), color-stop(100%,rgb(64,150,238))); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top,  rgb(122,188,255) 0%,rgb(96,171,248) 44%,rgb(64,150,238) 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top,  rgb(122,188,255) 0%,rgb(96,171,248) 44%,rgb(64,150,238) 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top,  rgb(122,188,255) 0%,rgb(96,171,248) 44%,rgb(64,150,238) 100%); /* IE10+ */
			background: linear-gradient(to bottom,  rgb(122,188,255) 0%,rgb(96,171,248) 44%,rgb(64,150,238) 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7abcff', endColorstr='#4096ee',GradientType=0 ); /* IE6-8 */
			color:White;
			padding: 5px 0px 5px 15px;
			font-weight:bold;
		}
		.form_groups
		{
			margin-bottom:15px;
			border:1px dotted Black;
		}
		.group_body
		{
		}
		.form-horizontal .form-group
		{
			margin:15px 0px 15px 0px;
		}
		.group_body .control-label
		{
			max-width:160px;
		}
		.form-horizontal hr
		{
			border-bottom:1px dashed #EEEEEE;
			margin:0;
		}
		.helptext
		{
			display:block;
			clear:both;
			padding:10px 0px 0px 15px;
			color:#9999A5;
		}
		#cancel_btn
		{
			margin-left:10px;
		}
		.errorcss
		{
			display:block;
			clear:both;
			padding:15px 0px 0px 15px;
			color:#9999A5;
		}
		.errorcss > ul
		{
			list-style-type: none;
			margin:0;
			padding:0;
		}
		.errorcss > ul > li
		{
			color:Red;
		}
		.form_groups, .form_groups .form-control
		{
			font-size:12px;
		}
		.form_groups select.form-control
		{
			padding: 5px;
		}
		{% if otherVars.profUpdate %}
		#cview_tab
		{
			margin-bottom: 0;
		}
		#cview_tab th
		{
			text-align:center;
		}
		#cview_tab td.center
		{
			text-align:center;
		}
		#cview_tab td img:hover
		{
			height:105%;
		}
		{% endif %}

            body,html
        {
            min-width:400px;
        }
        #page_header
        {
            display:block;
            font-weight:bold;
            font-size:30px;
            margin-bottom:10px;
        }
        #btn_add
        {
            margin-top:10px;
            float:right;
            font-size:12px;
            height:28px;
            font-weight:bold;
            position:relative;
            z-index:11;
        }
        .ui-dialog-titlebar-close
        {
            background-image:url('{% get_static_prefix %}img/closeicon.png');
            background-repeat:no-repeat;
            background-position:center;
        }
        #msgNotify
        {
            display:block;
            border: 1px dotted Gray;
            padding: 5px 0px 5px 10px;
            margin-bottom:10px;
            font-size:13px;
            background-color:#FCFFB8;
        }
        #div_view_tab
        {
            margin-top:20px;
            font-size:12px;
        }
        #div_view_tab label
        {
            font-size:12px;
        }
        #div_view_tab .form-control
        {
            display:inline-block;
            height:28px;
            padding:3px;
            font-size:12px;
        }
        #div_view_tab input.form-control
        {
            padding:8px;
        }
        .checkAct
        {
            width:70px;
        }
        .pageSel
        {
            width:60px;
        }
        .filInput1
        {
            width:90px;
        }
        .filInput2
        {
            width:90px;
        }
        .textSearch
        {
            width:150px;
        }
            /*.btn_checkAct, .btn_textSearch
            {
                height:28px;
                width:35px;
                line-height:28px;
                font-size:18px;
                vertical-align:middle;
                border:none;
            }
            .btn_checkAct i, .btn_textSearch i
            {
                vertical-align:middle !important;
            }*/
        .btn_checkAct, .btn_textSearch
        {
            border:none;
            height:28px;
            text-align:center;
            width:35px;
        }
        .btn_checkAct i, .btn_textSearch i
        {
            vertical-align:2px;
        }
        .div_checkAct, .div_pageSel, .div_filInput
        {
            margin-bottom:8px;
        }
        .div_rowsInfo, .div_pagination
        {
            margin-top:8px;
        }
        .halign_center
        {
            text-align:center;
        }
	</style>
{% endblock %}

{% block content %}
    <div class="container">
        <div style="padding:0px 15px 15px 15px;">
            <span id="page_header">

        {% if not otherVars.edit %}
            Register New Patient
        {% else %}
            Edit and View Patient Details
        {% endif %}
            </span>
            <form enctype="multipart/form-data" action="" method="post">
                {% csrf_token %}
                {% for groupH in hgrps %}
                    <div class="form_groups">
                        <div class="group_header">
                            {{ groupH.name }}
                        </div>
                        <div class="group_body">
                            <div class="form-horizontal">
                                {% with counternum=forloop.counter0 %}
                                    {% for formItem in addPatientForm %}
                                        {% if formItem.field.widget.attrs.hgrp == counternum|lower %}

                                            <div class="form-group">
                                                <label class="col-sm-3 control-label" for="id_{{ formItem.name }}" style="max-width:{{ groupH.lblwidth }}px">{{ formItem.label|safe }}:</label>
                                                <div class="col-sm-10" style="max-width:{{ formItem.field.widget.attrs.wsize|default:'' }}px;">
                                                    {% if "CheckboxInput" in formItem.field.widget or "RadioSelect" in formItem.field.widget %}
                                                        {{ formItem }}
                                                    {% else %}
                                                        {{ formItem|add_class:"form-control" }}
                                                    {% endif %}
                                                </div>
                                                {% if formItem.help_text %}
                                                    <span class="helptext">{{ formItem.help_text|safe }}</span>
                                                {% endif %}
                                                {% if formItem.errors %}
                                                    <span class="errorcss">
                                                        <ul>
                                                            {% for error in formItem.errors %}
                                                                <li>
                                                                    <span class="glyphicon glyphicon-chevron-right" style="font-size:10px;vertical-align:2px;"></span>
                                                                    <strong>{{ error|escape }}</strong>
                                                                </li>
                                                            {% endfor %}
                                                        </ul>
                                                    </span>
                                                {% endif %}
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                {% endwith %}

                            </div>
                        </div>

                    </div>
                {% endfor %}


                {{ addPatientForm.non_field_errors }}
                <input class="btn btn-info submit_btn" type="submit" value="Confirm and {% if otherVars.profUpdate %}Update{% elif otherVars.passChange %}Change{% elif otherVars.edit %}Edit{% else %}Add{% endif %}" name="_submit" />
                <a href="/main/login/"><input id="cancel_btn" class="btn btn-info" type="button" value="Cancel"></a>
            </form>
            </form>
        </div>
    {% if otherVars.edit %}
      <div style="padding:15px 15px 0px 15px;">
        <span id="page_header">Patient Record(s)</span>
        {% if otherVars.msgNote %}
            <span id="msgNotify">
            {{ otherVars.msgNote|safe }}
        </span>
        {% endif %}
            <span id="btn_add" class="btn btn-info" onclick="javascript:window.location.href='../addcase/' + '{{ otherVars.nric }}' ">
            <i class="fa fa-plus" style="margin-right:10px;"></i>Add Case
            </span>
        <table id="view_tab" class="table table-bordered">
            <thead>
            <tr style="background-color:#F0F0F0">
                <th class="sortableH defaultSort halign_center searchableCol" value="0">ID</th>
                <th class="sortableH searchableCol" value="2">Symptoms</th>
                <th class="searchableCol" value="3">Diagnosis</th>
                <th class="sortableH searchableCol" value="4">Record Created On</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="checkActVal halign_center" title="Edit"></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            </tbody>
        </table>
        <div id="dialog-confirm" title="{{ delMsg.0 }}">
            <p>
                <span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>
                <span id="selAmt"></span>&nbsp;{{ delMsg.1 }}
            </p>
        </div>
    </div>
    {% endif %}
    </div>

{% endblock %}

{% block misc_docend %}
    <script src="{% static 'buildTable/buildTable.js' %}"></script>
	<script type="text/javascript">

    function selectActHandler(element, checkValArr){
            if (checkValArr.length > 0){
                var selected = $(element).val();
                switch (selected){
                    case "Edit":
                        if (checkValArr.length == 1)
                            window.location.href = "{% url 'patientEditUrl' %}" + checkValArr[0];
                        break;

                        $("#dialog-confirm").dialog("open");
                        break;
                    default:
                        break;
                }
            }
        }
        $(document).ready(function (){
            // timeout for notification message
            setTimeout(function() {
                $('#msgNotify').fadeOut(300, function(){
                    resizeFunc();
                });
            },4500);

            // confirm dialog configuration
            $("#dialog-confirm").dialog({
                modal: true,
                bgiframe: true,
                width: 500,
                height: 200,
                autoOpen: false
            });

            // Build the table
            $('#view_tab').buildTable({
                updateUrl : '../case/new/' + '{{ otherVars.nric }}',
                initialValues : {{ tableInfo.caseList|safe }},
                availCheckAct : false,
                checkSingleOnly : false,
                addCheckable : false,
                checkActFunc : function(checkValArr){
                    selectActHandler(this,checkValArr);
                },
                clickableFunc : function(){
                        window.location.href = "{% url 'patientEditUrl' %}" + $(this).text();
                    },
                addFilInput : false,
                {#availFilters : {{ filterVars|safe }},#}
                completeEvenFunc : function(){
                    resizeFunc();
                },
                windowResizeFunc : function(){
                    resizeFunc();
                },
                tableEmptyMsg : "{{ tabEmptyMsg }}",
                recordStart : {{ tableInfo.recordStart|default:"0" }},
                recordEnd : {{ tableInfo.recordEnd|default:"0" }},
                numOfRecords : {{ tableInfo.numOfRecords }},
                {#filterType : [],#}
                sortedCol : [],
                nextPage : {% if tableInfo.nextEnabled %}true{% else %}false{% endif %},
                tableFunc : {% if tableInfo.numOfRecords %}true{% else %}false{% endif %}
            });

            $('.checkAct').addClass('form-control');
            $('.pageSel').addClass('form-control');
            $('.filInput1').addClass('form-control');
            $('.filInput2').addClass('form-control');
            $('.textSearch').addClass('form-control');
            $('.btn_checkAct').addClass('btn btn-info');
            $('.btn_textSearch').addClass('btn btn-info');
        });
	</script>
{% endblock %}